extends ../layout

block content
    

    br
    br

    .card.text-center
        .card-header
            | Created by #{blog.user.username}
        .card-body
            h1.card-title= blog.title
            p.card-text= blog.content
            
            each comment in blog.comments
                .row    
                    .col-md-1
                    .col-md-8
                        .jumbotron(style='padding: 10px;')
                            h4.display-15.font-text(style='text-align: left') #{comment.author}
                            hr.my-4
                            p.lead(style='text-align: left')
                                | #{comment.message}
                            p.lead.pull-right(style='margin-top: -30px')
                                button.btn.btn-info(type='button')(style='margin-right: -10px') 
                                    i.fa.fa-smile-o(aria-hidden='true')

            .row    
                .col-md-2
                .col-md-8
                    .jumbotron
                        form(action="/blog/post_comment/#{blog._id}", method="POST")
                            .form-group
                                input(name="message", type="text", placeholder=" Message")
                            .form-group
                                input(name="author", type="text", placeholder=" Author ?")
                            .form-group 
                                button(class='btn btn-lg btn-primary btn-block', type='submit') Send


        .card-footer.text-muted
            | #{blog.date}
    


        