extends ../layout

block content

    .card.text-center
        .card-header
            |#{blog.user.username} is this channel's administrator 
        .card-body
            h1.card-title.font-text= blog.title
            p.card-text= blog.content
            
            each comment in blog.comments
                .card-body
                    h6.card-title.font-text(style='text-align: left') #{comment.author}
                    if user.id != comment.user_id
                        p.card-text(style='text-align: left; font-size: 20px') #{comment.message}
                    else
                        p.card-text(style='text-align: left; font-size: 20px') 
                            form(method="POST" action="/blog/update/post_comment?_method=PUT", style='text-align: left')
                                input(type="hidden" name="id_post" value=blog._id)
                                input(type="hidden" name="id_comment" value=comment._id)
                                input(type="text" name="message" value=comment.message)
                                button(type="submit")
                                    i.fa.fa-pencil
                    p.card-text(style='text-align: left; font-size: 10px') #{comment.date}
                        if user.username == comment.author || user.role == false || user.id == blog.user.id
                            form(method="POST" action="/blog/delete/post_comment?_method=DELETE")
                                input(type="hidden" name="id_post" value=blog._id)
                                input(type="hidden" name="id_comment" value=comment._id)
                                button.btn.btn-danger.pointer(type="submit") Suppression
                hr
            br
            .row    
                .col-md-2
                .col-md-8
                    .jumbotron
                        if user.mute == false
                            form(action="/blog/post_comment/#{blog._id}", method="POST")
                                .form-group
                                    input(name="message", type="text", placeholder="Message").form-control
                                .form-group 
                                    button(class='btn btn-lg btn-primary btn-block', type='submit') Send
                        else
                            h3 Your are mute sorry

        .card-footer.text-muted
            | #{blog.date}
    


        