extends ../layout

block content

    br

    h1 Your role : 
        if user.role
            | User 
        else
            | Super Admin 
        a.btn.btn-info(href="edit_role/#{user._id}", role="button") Change your role

    br

    form(method="POST")
        .form-group
            input.form-control.form-control-lg(type="text", name="username", value="#{user.username}")
        .form-group
            input.form-control.form-control-lg(type="text", name="email", value="#{user.email}")
        input.btn.btn-lg.btn-success(type="submit", value="Update your account")
        
        
    br
    h3 You are actually  
        if user.mute
            | mute 
        else
            | not mute 
        a.btn.btn-info(href="edit_mute/#{user._id}", role="button") Change your role


    br
    a.btn.btn-danger(href="delete/#{user._id}", role="button") Delete this account